<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AMDiscoverDeviceModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046D046026A8101400D9E7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D047B26A8101900D9E7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D048626A8101900D9E7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
